@model AgendaApp.Models.Tarefa

@{
    ViewBag.Title = "Detalhes";
}

<h2>Details</h2>

<div>
    <h4>Tarefa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.cadastrado_em)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cadastrado_em)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.dataentrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataentrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.concluida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.concluida)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Voltar à lista", "Index")
</p>
